{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/employee.css' %}">
</head>
<body>
<h1>Сотрудники:</h1>

<form action="{% url 'filter_employees' %}" method="GET">
    <select name="department">
    <option value="" {% if not department_id %}selected{% endif %}>Все отделы</option>
    {% for department in departments %}
        <option value="{{ department.id }}" {% if department.id|slugify == department_id %}selected{% endif %}>{{ department }}</option>
    {% endfor %}
</select>
    <button type="submit">Фильтровать</button>
</form>
<form action="{% url 'employees' %}" method="GET">
    <button type="submit">Сбросить фильтр</button>
</form>

<div class="employee-container">
  {% for employee in employees %}
  <div>
    <img class="employee-photo" src="{{ employee.photo.url }}">
    <p class="employee-info">{{ employee.first_name }} {{ employee.last_name }} {{ employee.middle_name }}</p>
    <p class="employee-info">{{ employee.department }}</p>
  </div>
  {% if forloop.counter|divisibleby:2 and not forloop.last %}
</div>
<div class="employee-container">
  {% endif %}
  {% endfor %}
</div>
</body>
</html>
