{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/configuration.css' %}">
</head>
<body>
  <h1>Переговорные аудитории:</h1>
{% for meetingRoom  in meetingRooms %}
<div>
    <p>
        <span>{{ meetingRoom.number }}</span>
        <span>({{ meetingRoom.floor }} этаж)</span>
        <span>Вместимость: {{ meetingRoom.capacity }} человек</span>
        {% if meetingRoom.has_tv %}
            <span>С телевизором</span>
        {% else %}
            <span>Без телевизора</span>
        {% endif %}
    </p>
    {% if meetingRoom.reserved_by %}
        <p>
            <span>Забронирована: {{ meetingRoom.reserved_by }}</span>
            <span>( {{ meetingRoom.participants.all|join:", " }} )</span>
        </p>
        <p>
            <span>С {{ meetingRoom.start_time }} по {{ meetingRoom.end_time }}</span>
        </p>
        <a href="{% url 'edit_booking' meetingRoom.id %}"><button>Редактировать</button></a>
        <a href="{% url 'delete_booking' meetingRoom.id %}"><button>Удалить бронирование</button></a>
    {% else %}
        <a href="{% url 'booking' meetingRoom.id %}"><button>Забронировать</button></a>
    {% endif %}
</div>


{% endfor %}
</body>
</html>
