h1 {
  text-align: center;
  font-family: 'Better VCR', sans-serif;
  color: #FFD700; /* Лимонный цвет */
  font-size: 300%;
}

p{
  font-family: 'Better VCR', sans-serif;
  color: #00000; /* Лимонный цвет */
  font-size: 200%;
  margin-left: 100px;

}

img{
  display: block;
   margin-top: 80px;
   margin-left: auto;
   margin-right: auto;
}
table {
  font-family: 'Better VCR', sans-serif;
  font-size: 30px;
  margin: 0 auto;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: center;
  border-top: 1px solid black; /* Добавлено: решетка таблицы черного цвета */
}
div {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
  padding-bottom: 20px;
}



